{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "simple-import-sort"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript"
  ],
  "rules": {
    "no-console": "error",
    "consistent-return": "warn",
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "@typescript-eslint/no-inferrable-types": "off",
    "@typescript-eslint/explicit-function-return-type": "warn",
    "@typescript-eslint/ban-ts-comment": "warn",
    "@typescript-eslint/explicit-member-accessibility": "warn",
    "@typescript-eslint/typedef": [
      "warn",
      {
        "parameter": true,
        "arrowParameter": true
        // variableDeclaration: true,
        // memberVariableDeclaration: true,
        // objectDestructuring: true,
      }
    ]
  }
}
